<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Favicon -->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
  <!-- Icon - IconMonster -->
  <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" />
  <!-- Mumble UI -->
  <link rel="stylesheet" href="/views/styles/app.css">
  <link rel="stylesheet" href="/views/uikit/styles/uikit.css">

  <title>DevSearch - Connect with Developers!</title>
</head>
<body>
  <header class="header">
    <div class="container container--narrow">
      <a href="/" class="header__logo">
        <img src="images/logo.svg" alt="DevSearch Logo" />
      </a>
      <nav class="header__nav">
        <input type="checkbox" id="responsive-menu" />
        <label for="responsive-menu" class="toggle-menu">
          <span>Menu</span>
          <div class="toggle-menu__lines"></div>
        </label>
        <ul class="header__menu">
          <li class="header__menuItem"><a href="/dashboard">Developers</a></li>
          <li class="header__menuItem"><a href="/project-page">Projects</a></li>
          <li class="header__menuItem"><a href="/inbox">Inbox</a></li>
          <li class="header__menuItem"><a href="/users/account">My Account</a></li>
          <li class="header__menuItem"><a href="/users/login" class="btn btn--sub">Login/Sign Up</a></li>
        </ul>
      </nav>
    </div>
  </header>
    <div >
      
      <%- body %>
    
    </div>
    <script src="/views/uikit/app.js"></script>
</body>
</html>
